:root {
  --fonte: 'Inter', 'sans-serif';
  --branco: #FFFFFF;
  --preto: #000000;
  --azulclaro: #B8DCF5;
  --verdeclaro: #89A9A8;
  --cinzaescuro: #464646;
}

body {
  margin: 0;
  font-family: var(--fonte);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
